.product {
  width: 300px;
  height: 370px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 20px;
}

.image {
  background-color: #666;
  height: 200px;
  cursor: pointer;
}

.name {
  margin-top: 10px;
  float: left;
  cursor: pointer;
}

.price {

  margin-top: 90px;
  text-align: right;
}

.quantity {
  display: block;
  width: 60px;
  height: 35px;
  clear:left;
  font-size: 14px;
  border: none;
  padding-left: 5px;
  outline: none;
  float: left;
  background-color: #fff;
  margin-right: 1px;
}

.button {
  display:block;
  width: 140px;
  height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.button:hover {
  background-color: #2EE59D;
  color: #fff;
}

.button:active {
  background-color: #2EE59D;
  color: rgb(119, 97, 0);
}