@media only screen and (max-width: 740px) {
  .container {
    width: 340px;
  }
}

@media only screen and (min-width: 741px) {
  .container {
    width: 800px;
  }
}

.container {
  padding:0px;
  margin:auto;
}

.cartPanel {
  width: 320px;
  float:left;
  margin-right:40px;

}

.infoPanel {
  width:340px;
  float:left;
}

.spacer {
  width:340px;
  height:20px;
  float: left;
}