* {
  margin: 0px;
  padding: 0px;
}


.textfield {
  margin: 10px 20px 15px 0px;
  width: 330px;
  clear:right;
}

.textfield input {
  background-color: #ddd;
  outline: none;
  border: none;
  font-size: 16px;
  height: 32px;
  width: 320px;
  padding: 8px 8px 8px 10px;
}

.button {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  float: left;
  outline: none;
  margin:40px auto 40px auto;
}

.button:hover {
  background-color: #2EE59D;
  color: #fff;
}

.button:active {
  background-color: #2EE59D;
  color: rgb(119, 97, 0);
}

