<h3>Checkout</h3>
<br>
<form (ngSubmit)="submitForm()">
  <div class="textfield" style="margin-top:0px">
    <label><p>Billing name</p></label>
    <input type="text" name="billingName" [(ngModel)]="info.billingName">
  </div>

  <div class="textfield">
    <label><p>Email</p></label>
    <input type="text" name="email" [(ngModel)]="info.email">
  </div>

  <div class="textfield" style="margin-bottom:5px; clear:left">
    <label><p>Billing address</p></label>
    <input type="text" name="billingAddress" style="margin-bottom: 3px" [(ngModel)]="info.billingAddress">
    <br>
    <input type="text" name="billingAddressCont" [(ngModel)]="info.billingAddressCont">
  </div>

  <div class="textfield" style="width:120px; float: left; margin-right: 40px;">
    <label><p>City</p></label>
    <input type="text" name="billingCity" style="width:130px" [(ngModel)]="info.billingCity">
  </div>

  <div class="textfield" style="width: 20px; float: left; margin-right: 40px;">
    <label><p>State</p></label>
    <input type="text" name="billingState" style="width:30px;" maxlength="2" [(ngModel)]="info.billingState">
  </div>

  <div class="textfield" style="width: 100px; float: left; ">
    <label><p>Zip</p></label>
    <input type="text" name="billingZip" style="width:100px" maxlength="12" [(ngModel)]="info.billingZip">
  </div>

  <div class="textfield">
    <input type="checkbox" checked style="width:25px;" (change)="checkboxCheck()">
      <p style="width:300px; margin-top: 8px; float:right">Ship to billing address</p>
  </div>

  <div *ngIf="checkbox" id="shippingaddress" class="textfield" style="margin-bottom:5px; clear:left">
    <label><p>Shipping address</p></label>
    <input type="text" name="shippingAddress" style="margin-bottom: 3px" [(ngModel)]="info.shippingAddress">
    <br>
    <input type="text" name="shippingAddressCont" [(ngModel)]="info.shippingAddressCont">
  </div>

  <div *ngIf="checkbox" class="textfield" style="width:120px; float: left; margin-right: 40px;">
    <label><p>City</p></label>
    <input type="text" name="shippingCity" style="width:130px" [(ngModel)]="info.shippingCity">
  </div>

  <div *ngIf="checkbox" class="textfield" style="width: 20px; float: left; margin-right: 40px;">
    <label><p>State</p></label>
    <input type="text" name="shippingState" style="width:30px;" maxlength="2" [(ngModel)]="info.shippingState">
  </div>

  <div *ngIf="checkbox" class="textfield" style="width: 100px; float: left; ">
    <label><p>Zip</p></label>
    <input type="text" name="shippingZip" style="width:100px" maxlength="12" [(ngModel)]="info.shippingZip">
  </div>

  <div class="textfield" style="width:180px; float: left; clear:left; margin-right: 40px;">
    <label><p>Card number</p></label>
    <input type="text" name="card" style="width:190px;" [(ngModel)]="info.card">
  </div>

  <div class="textfield" style="width: 120px; float: left; margin-right:0px;">
    <label><p>Exp. date</p></label>
    <input type="text" name="expMonth" style="width:35px;" maxlength="2" [(ngModel)]="info.expMonth">/<input name="expYear" type="text" style="width:35px;" maxlength="2" [(ngModel)]="info.expYear">
  </div>

  <div class="textfield" style="width: 120px; float: left; margin-right:0px;">
    <label><p>CVV2</p></label>
    <input type="text" name="cvv" style="width:45px;" maxlength="4" [(ngModel)]="info.cvv">
  </div>

  <button routerLink="/success" class="button" type="submit" (click)="checkout()">Submit</button>

</form>