.container {
  width: 340px;
  height: 200px;
  background-color:#ccc;
  margin-bottom:10px;
}

.image {
  width: 140px;
  height: 200px;
  background-color: #666;
  float: left;
}

.panel {
  width: 160px;
  height: 180px;
  background-color: rgb(202, 202, 202);
  float: left;
  padding: 10px;
}

h2 {
  margin: 0px;
}

button {
  margin:2px;
}

.button {
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right:4px;
}

.button:hover {
  background-color: #2EE59D;
  color: #fff;
}

.button:active {
  background-color: #2EE59D;
  color: rgb(119, 97, 0);
}